<h3>Plantel</h3>


<div class="card list-group"  style="width: 20rem;" ng-repeat="player in teamPlayers.players">
  <img class="card-img-top" src="https://dummyimage.com/200x200/000/fff" alt="{{player.name}}">
  <div class="card-block">
    <h4 class="card-title">{{player.name}}</h4>
    <p class="card-text">Número: {{player.jerseyNumber}}</p>
    <p class="card-text">Nacionalidade: {{player.nationality}}</p>
    <p class="card-text">Posição: {{player.position}}</p></p>
  </div>
</div>
